//home
.mv{
  background:url(./images/main.jpg) no-repeat center bottom;
  background-size:auto 100%;
  position: relative;
  height:500px;
  &_bg{
    position: absolute;
    bottom:0;
    width:100%;
    background:#4242425c;
    padding:1em;
  }
  &_ttl{
    color:#ffffff;
    font-size: 1.1em;
    margin-bottom: 0.5em;
  }
  &_txt{
    color:#ffffff;
    font-size: 1rem;
    line-height: 1.6;
  }
}
.topnews{
  padding:100px 0;
  &_ttl{
    font-size:1.8em;
    margin-bottom:1em;
  }
  &_list{
    margin-bottom:1em;
  }
  &_item{
    list-style: none;
    a{
      display: block;
      font-size:0.9em;
      border-bottom:solid 1px #5E5E5E;
      padding:0.5em 0;
      min-height:3em;
      text-decoration: none;
      @include flexbox;
      @include flexhashi;
      align-items: flex-start;
      -webkit-box-align: start;
      color:#333333;
      &:hover{
        background:#D8D8D8;
      }
      span{
        display:inline-block;
      }

    }
  }
  &_day{
    font-size:0.9em;
    width:6em;
    padding-top: 0.2em;
  }
  &_new{
    background:#D64949;
    color:#ffffff;
    width:4em;
    font-size:0.8em;
    text-align: center;
    padding-top: 0.2em;
  }
  &_txt{
    width:calc( 100% - 12em );
  }
  &_more{
    text-align: right;
    a{
      display: inline-block;
      padding:0.5em 1em;
      background: #F2F2F2;
      text-decoration: none;
      color:#232323;
      &:hover{
        background: #E5E5E5;
      }
    }
  }
}
.home{
  &_content{
    @include flexbox;
    @include flexhashi;
    margin-bottom:100px;
    &_item{
      background:rgba(102, 102, 102, 0.70);
      margin-bottom:0.6em;
      color:#ffffff;
      a{
        text-decoration: none;
        color:#ffffff;
      }
      &.tate{
        width: 49%;
      }
      &.yoko{
        width: 100%;
        a{
          @include flexbox;
        }
      }
    }
    &_img{
      position: relative;
      .yoko &{
        width:50%;
      }
    }
    &_ttl{
      position: absolute;
      bottom:2em;
      left:0;
      background:rgba(24, 78, 137, 0.70);
      padding:1.5em 1em;
      color:#ffffff;
    }
    &_txt{
      padding:1.5em;
      font-size:0.9em;
      .yoko &{
        width:50%;
      }
    }
  }
}
